.landing-page {
	background-image: url(../img/football-field-1428839_960_720.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #89b647;
	font-weight: 500;
	margin: 4% 6%;
}

.content-box {
	padding: 2%;
	background-color: #ffffff73;
}

.action-button {
	background-color: turquoise;
	padding: 6px 26px;
	border: 1px solid white;
}

h1 {
	text-decoration: underline;
	text-align:center;
	font-family: times new roman;
}

.landing-page h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

h2 {
	color: turquoise;
	display: inline;
	padding: 2px 13px;		
}

h3 {
	text-decoration: underline;		
}

p {
	font-family: times new roman;
}

ul { 
	border:3px solid black;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	padding-left: 3%;
	margin-left: 2cm;
	max-width: 20cm;
}

li { 
	margin: 2px;
}

.subscribe-page {
 background-image: url("../img/Bild.jpg"); 
}

.email-box {
 text-align:center;
 font-weight: bold;
	padding: 12px 20px;
	
        justify-content:center;
	align-items:center;
 position: center;
	 justify-content:center;
	align-items:center;

	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	margin-left: auto;
	margin-right: auto;
	background-color:#2ad8e8;
}

select{

	text-align:center;
 font-weight: bold;
	padding: 12px 20px;
	background-color:#2ad8e8;
        justify-content:center;
	align-items:center;
 position: center;
	 justify-content:center;
	align-items:center;

	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	margin-left: auto;
	margin-right: auto;
}
		
 position: center;
	 justify-content:center;
	align-items:center;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	margin-left: auto;
	margin-right: auto;
	
	}
input {type="submit"} {
	margin-top:30px;
   font-size: 1.3em; padding: 5px 12px; 
   font-family: Roboto, sans-serif;
   font-weight: 300;
   color: teal;
   border: 1px solid silver;
   background-image: linear-gradient(to top, gainsboro 0%, white 90%);
   border-radius: 20px;
}
	
	
	
