body {
  background-image: url("../img/football-field-1428839_960_720.png");
  background-repeat:no-repeat;
  height: 10%;
  background-position:right top; 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #41b32b;
  text-indent: 10%;
}

.action-button {
  background-color: turquoise;
  padding: 6px 26px;
  border: 1px solid white;
}

h1 {text-decoration: underline;
	text-align:center;
	font-family: times new roman;
}	

h2 {background-color: #1abbe8;
	max-width: 20em;		
}

h3 {text-decoration: underline;		
}

p {font-family: times new roman;
}

ul { border:3px solid black;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	padding-left: 3%;
	margin-left: 2cm;
	max-width: 23cm;
}

li { margin: 2px;
}		


	
	
	
