body{
 background-image: url("../img/Bild.jpg");
 
}
h1 {
 font-family new time Roman
}
form {
 text-align:center;
 font-weight: bold;
	padding: 12px 20px;
	margin-top: 0px;
	font-size: 16px;
	border-radius: 10px;
	background-color: #666666;	
 position: center;
	border-bottom: 1px solid rgba(255,255,255,0.2);
		display: inline-block;

	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}
input{
	 text-align:center;
 font-weight: bold;
	padding: 12px 20px;
	margin-top: 0px;
	font-size: 16px;
	border-radius: 10px;
	background-color: #666666;	
 position: center;
	border-bottom: 1px solid rgba(255,255,255,0.2);
		display: inline-block;

	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}


